.equation {
    margin-top: 4rem;

    p {
        font-size: 1.1rem;
    }

    pre {
        background-color: var(--clr-darker);
        font-size: 1.1rem;
        padding: 1rem;
        border-radius: 0.325rem;
    }
}
