.equation {
    margin-top: 4rem;

    p {
        font-size: 1.1rem;
    }

    pre {
        background-color: var(--clr-darker);
        font-size: 1.1rem;
        padding: 1rem;
        border-radius: 0.325rem;
    }
    .edit-button {
        background-color: var(--clr-brand);
        padding: 0.5em;
        border-radius: 0.325rem;
        color: var(--clr-light);
        font-weight: bold;
    }
}
