:root {
    --clr-darkest: #171528;
    --clr-darker: #23203D;
    --clr-dark: #2F2A51;
    --clr-light: #B8D8D8;
    --clr-brand: #665FAB;

    --ff-body: "Open Sans", sans-serif;
    --ff-brand: "Fredoka", sans-serif;
    --shadow: 0 0.9rem 2rem -1.5rem rgba(255, 255, 255, 0.2);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr-darkest);
    font-family: var(--ff-body);
    color: var(--clr-light);
}

a[href] {
    color: var(--clr-brand)
}

:focus-visible {
    outline: 1px solid var(--clr-light);
    outline-offset: 0.4rem;
    border-radius: 0.325rem;
}
