:root {
    --clr-darkest: #171528;
    --clr-darker: #23203d;
    --clr-dark: #2f2a51;
    --clr-light: #b8d8d8;
    --clr-brand: #665fab;
    --clr-error: rgb(255, 25, 25);

    --ff-body: "Open Sans", sans-serif;
    --ff-brand: "Fredoka", sans-serif;
    --shadow: 0 0.9rem 2rem -1.5rem rgba(255, 255, 255, 0.2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr-darkest);
    font-family: var(--ff-body);
    color: var(--clr-light);
    min-height: 100vh;
}

img {
    max-width: 100%;
}

a[href] {
    color: var(--clr-brand);
}

button {
    cursor: pointer;
}

.error {
    color: var(--clr-error);
}

.clamped-page-view {
    max-width: 1000px;
    margin: auto;
    padding: 0 max(8vw, 1rem);
}

:focus-visible {
    outline: 1px solid var(--clr-light);
    outline-offset: 0.4rem;
    border-radius: 0.325rem;
}
