.main-nav {
    padding: 1rem;
    display: flex;
    font-size: 1.25rem;
    gap: 1rem;

    .logo {
        margin-right: 1.5rem;
    }

    a {
        color: var(--clr-light);
        text-decoration: none;
        font-family: var(--ff-brand);

        &:hover {
            text-decoration: 1px solid underline;
        }
    }
}
